.fundo {
  background-color: paleturquoise;
  background-image: url(../imgs/roma.jpg);
  background-size: 90% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
}
.info {
  width: 350px;
  height: 250px;
  border-style: solid;
  border-color: sienna;
  border-width: 15px;
  border-radius: 10%;
  margin-left: 120px;
  background-color: rgba(255, 255, 255, 0.7);
}

h3,
p {
  text-align: center;
}
